body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Markazi";
  src: local("Markazi"),
    url("./Fonts/Markazi.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  src: local("Markazi"),
    url("./Fonts/Karla.ttf") format("truetype");
}

.heroTeaser {
  width: 100%;
  background-color: #495e57;
  margin-top: 20px;
  padding: 30px;
}


.heroteaser-image {
  position: absolute;
  border-radius: 40px;

}

@media only screen and (max-width: 992px) {
  .heroteaser-image {
    display: none;
  }
  
}

.heroTeaser h1 {
  font-family: 'Markazi';
  font-size: 64pt;
  color: #f4ce14;
  margin: unset;
}

.heroTeaser h2 {
  font-family: 'Markazi';
  font-size: 40pt;
  margin: unset;
  color: #edefee;
}

.heroTeaser .description {
  font-family: 'Karla';
  font-size: 18pt;
  color: #edefee;
  margin-bottom: 10px;
}

.cta{
  background-color:#f4ce14;
  width: fit-content;
  padding: 4px 12px;
  font-size: 18pt;
  font-family: 'Karla';
  border-radius: 10px;
  color: black;
  font-weight: 400;
}

.banner{
  margin-top: 80px;
  position: relative;
}
.bannerTitle{
  font-size: 55pt;
  font-weight: bolder;
  font-family: 'Markazi';
}
.bannerCta div{
  margin-top: 26px;
}

.mcard {
  min-height:600px;
  background-color: #edefee ;
  border-radius: 30px;
    position: relative;
}
@media only screen and (max-width: 992px) {
  .mcard {
      min-height:700px;
      margin: 20px;
    }
}

.mcard .cimage{
  max-width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.mcard .titleContainer{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 30px;
}
.mcard .titleContainer .title{
  font-size: 18pt;
  font-weight: bold;
  font-family: 'Karla';
}
.mcard .titleContainer .price{
  font-size: 16pt;
    font-weight: bold;
    font-family: 'Karla';
    color: #ee9972;
}
.mcard .description{
  font-family: 'Karla';
  font-size: 16pt;
  line-height: 1.5;
  padding: 0 30px;
  margin-top: 20px;
}
.mcard .cbutton{
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-family: 'Karla';
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    padding: 10px 10px;
    border-radius: 30px;
}
@media only screen and (max-width: 992px) {
  .mcard .cbutton{
    bottom: 10px;
      left: 20px;
  }
}
.mcard .cbutton:hover{
box-shadow: 9px 7px 36px -8px rgba(0, 0, 0, 0.75);
  transition: all 0.2s;
}
.cardContainer{
  margin-top: 40px;
}