body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Markazi";
  src: local("Markazi"),
    url("./Fonts/Markazi.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  src: local("Markazi"),
    url("./Fonts/Karla.ttf") format("truetype");
}

.heroTeaser {
  width: 100%;
  background-color: #495e57;
  margin-top: 20px;
  padding: 30px;
}


.heroteaser-image {
  position: absolute;
  border-radius: 40px;

}

@media only screen and (max-width: 992px) {
  .heroteaser-image {
    display: none;
  }
}

.heroTeaser h1 {
  font-family: 'Markazi';
  font-size: 64pt;
  color: #f4ce14;
  margin: unset;
}

.heroTeaser h2 {
  font-family: 'Markazi';
  font-size: 40pt;
  margin: unset;
  color: #edefee;
}

.heroTeaser .description {
  font-family: 'Karla';
  font-size: 18pt;
  color: #edefee;
  margin-bottom: 10px;
}

.cta{
  background-color:#f4ce14;
  width: fit-content;
  padding: 4px 12px;
  font-size: 18pt;
  font-family: 'Karla';
  border-radius: 10px;
  color: black;
  font-weight: 400;
}

.banner{
  margin-top: 80px;
  position: relative;
}
.bannerTitle{
  font-size: 55pt;
  font-weight: bolder;
  font-family: 'Markazi';
}
.bannerCta div{
  margin-top: 26px;
}
